@import "tailwindcss";

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
  
  --color-primary: #3b82f6;
  --color-secondary: #2563eb;
  --color-accent: #60a5fa;
  --color-background: #000000;
  --color-surface: #000000;
  --color-text: #e5e7eb;
  --color-text-secondary: #d1d5db;
}